html,
body,
p {
    padding: 0;
    margin: 0;
    font-family: 'Alegreya', serif;
}

.logo-text {
    max-width: 150px;
    margin-right: auto;
}

.logo-text h2 {
    font-family: 'Open Sans', sans-serif;
    color: red;
    font-weight: 900;
    transform: scale(1, 1.3);
}

.logo-text p {
    font-size: smaller;
    margin-bottom: 0;
}

li {
    list-style-type: none;
}

#logo {
    max-width: 6rem;
}

.navbar {
    background-color: #fffcf2;
}

.nav-item {
    font-size: 1.25em;
    padding-right: 1em;
}

#navbarSupportedContent {
    text-align: center;
}

.info-page-title,
.location-page-title {
    margin: auto;
    width: 50%;
    text-align: center;
    font-size: 2em;
    margin-top: 4vh;
    border-bottom: 1px double lightgrey;
}

.location-page-title {
    width: 30%;
}

/* Footer */
footer {
    background-color: #313030;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 4em;
}

footer .row {
    max-width: 60em;
}

.footer-title {
    font-size: 1.2em;
    padding-bottom: 1em;
}

footer li,
footer p {
    color: rgba(230, 224, 224, 0.801);
}

#logo-footer {
    max-width: 6rem;
}

.footer-nav-link {
    text-decoration: none;
    color: rgba(230, 224, 224, 0.801);
}

.footer-nav-link:hover {
    color: rgba(255, 255, 255, 0.801);
}

/*----Info-----*/
#info-container {
    align-items: center;
    margin: 0 20vw;
}

.info-row {
    display: flex;
    justify-content: space-around;
    margin: 4vh auto 10vh;
}

.info-text,
.info-image {
    width: 50em;
    margin: auto;
    text-align: center;
}

.info-text {
    line-height: 2em;
    width: 70%;
    color: rgb(92, 92, 92);
}

.info-text:nth-of-type(1) {
    text-align: right;
    padding-right: 2vw;
}

.info-text:nth-of-type(2) {
    text-align: left;
    padding-left: 2vw;
}

.info-image img {
    width: 100%;
}

.price-change {
    color: rgb(155, 147, 147);
}

@media screen and (max-width: 767px) {
    #logo {
        width: 5rem;
    }

    .logo-text h2 {
        font-size: 1.3em
    }

    .logo-text p {
        font-size: 0.7em;
    }
}

@media screen and (max-width: 575px) {
    #logo {
        width: 3rem;
    }

    .logo-text {
        max-width: 100px;
        margin-right: auto;
    }

    .logo-text h2 {
        font-size: 1em
    }

    .logo-text p {
        font-size: 0.5em;
    }

    .nav-item {
        font-size: 1em;
    }

    /*-----MAP/Info----*/
    .info-page-title,
    .location-page-title {
        font-size: 1.3em;
        width: 60%;
        margin-top: 0.5em;
    }

    .info-row {
        display: block;
    }

    #info-container {
        margin: 0;
    }

    .info-image {
        width: 60vw;
    }

    .info-text:nth-last-of-type(1),
    .info-text:nth-last-of-type(2) {
        text-align: center;
    }

    .info-text {
        font-size: 0.9em;
    }
}