body {
    font-family: 'Alegreya', serif;
}


/* Top Navbar */
#logo {
    max-width: 6rem;
    margin-left: 1em;
}

.navbar {
    background-color: #fffcf2;
    font-family: 'Cabin Condensed', sans-serif;
}

.nav-item {
    font-size: 1.25em;
    padding-right: 1em;
}

#navbarSupportedContent {
    text-align: center;
}

/* Menu Type List */
#MenuTypeContainer {
    margin: auto;
    padding-top: 1.1em;

}

.MenuTypeList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 0;
}

.MenuType {
    list-style-type: none;
    padding: 0.4em;
    margin: 0.6rem;
    margin-bottom: 0.2em;
    font-size: 0.92em;
    font-weight: 1000;
    color: rgb(110, 110, 110);
    border: 1px;
    border-radius: 1em;
    background-color:rgb(223, 240, 247);
}

.MenuType:hover {
    cursor: pointer;
}

/* Lists of different dishes */
/* .dishesTopHr {
    width: 75%;
    margin: auto;
} */

#dishesContainer {
    text-align: center;
}

.MenuTitle {
    border-bottom: 3px double;
    font-size: 2em;
    width: 8rem;;
    margin: auto;
    margin-bottom: 0.7rem;
    font-weight: 1000;
}

.left .dishDetails {
    display: flex;
    text-align: left; 
    justify-content: end;
    margin-right: 2vw;
}

.right .dishDetails {
    display: flex;
    text-align: left; 
    justify-content: start;
    margin-left: 2vw;
}

.dishName{
    font-size: 1.2em;
}

.dishName, .dishNameOption {
    width: 30vw;
    /* margin-left: 10vw; */
}

.dishNameOption {
    padding-left: 2.3vw;
    font-style: italic;
}

.dishPrice {
    width: 4vw;
    text-align: right;
}

.dishColor1 {
    background-color: #d1e0d783;
}

.dishColor2 {
    background-color: #f7fafa;
    /* background-color: #ecbaa8; */
}

/* Media */
@media screen and (max-width: 767px) {
    #logo {
        width: 5rem;
    }
    .left .dishDetails, .right .dishDetails {
        display: flex;
        justify-content: center;
        margin-right: 0;
        margin-left: 0;
    }
    .dishName {
        width: 70vw;
    }
    .dishPrice {
        width: 0vw;
        text-align: left;
        margin-right: 1.5em;
        padding-right: 0;
    }

    
}

@media screen and (max-width: 575px) {
    #logo {
        width: 3rem;
    }
    .nav-item {
        font-size: 1em;
        padding-right: 0em;
    }
    .MenuType {
        margin: 0 0.2em 0.3em 0.2em;
        padding: 0.3em;
        font-size: 0.8em;
    }

    .left .dishDetails, .right .dishDetails {
        display: flex;
        justify-content: center;
        margin-right: 0;
        margin-left: 0;
    }
    .dishName {
        width: 70vw;
        font-size: 0.9em;
    }
    .dishPrice {
        width: 0vw;
        font-size: 0.9em;
        text-align: left;
        margin-right: 1.5em;
        padding-right: 0;
    }
    .MenuTitle {
        font-size: 1.5em;
    }
}